@import 'tailwindcss';

body {
  background-color: gray;
}

.background {
  position: fixed;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  pointer-events: none;
  filter: blur(0px);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0,0); 
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  /* padding: 100px; */
}